<!-- Start page content -->
<div class="jumbotron display">
	<div class="container">
   
	    <div class="fontsatisfy page-header pull-left">
	        <h1>Pinfall</h1>
	        <h1><small>The simple way to track how you bowl.</small></h1>
	    </div>   

        <div class="page-header pull-right">
	        <form action='#' method='post' enctype='multipart/form-data'>
	        	<input type='text' name='Full name' required title='Full name required' placeholder='Full name' autofocus='required' data-icon='U'>
                </br>
                <input type='text' name='email' required title='email required' placeholder='Email address' autofocus='required' data-icon='U'>
                </br>
                <input type='password' name='password' required title='Password required' placeholder='Password' data-icon='x'>
                   
				<div class="olvido"><a href='#'>Already have an account? Sign in here.</a></div>
                    
				<input class='btn btn-primary btn-lg' type='submit' value='Sign Up' name='submit'>
            </form>
        </div>
	</div>
</div>

<div class="container">
    <div class="jumbotron">
        <h3>What is Pinfall?</h3>
        </br>
        <p>Pinfall is a way to keep track of all your bowling statistics. Keep track of every game you bowl, by entering your scores, and Pinfall will automatically calculate your average.</p>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h3>Why should I use Pinfall?</h3>
        </br>
        <p>Using Pinfall will help you to better understand your bowling game. You'll be able to visualize which areas you excel in and which areas that may need improvement.</p>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h3>Which stats can Pinfall track?</h3>
        </br>
        <p>Statistics that Pinfall can track for you include:</p>
        <ul>
        	<li>Number of games bowled</li>
        	<li>Average</li>
        </ul>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h3>How much does Pinfall cost?</h3>
        </br>
        <p>Pinfall is free and costs you absolutely nothing! We may add pay-only features in the future, but everything that's free today will always be free.</p>
    </div>
</div>
<!-- End page content -->    