<!-- Start page content -->
<div class="content_wrapper fontmontserrat">
   
   	<div class="display">
	    <div class="display_content ">
	        <h1 id="logo" class="fontsatisfy">Pinfall</h1>
	        <h2 id="tagline">The simple way to track how you bowl.</h2>
	    </div>   

        <div class="display_content">
	        <form action='php/sign-in.php' method='post' enctype='multipart/form-data'>
	        	<input type='text' name='Full name' required title='Full name required' placeholder='Full name' autofocus='required' data-icon='U'>
                </br>
                <input type='text' name='email' required title='email required' placeholder='Email address' autofocus='required' data-icon='U'>
                </br>
                <input type='password' name='password' required title='Password required' placeholder='Password' data-icon='x'>
                   
				<div class="olvido"><a href='#'>Already have an account? Sign in here.</a></div>
                    
				<input class='signup_button' type='submit' value='Sign Up' name='submit'>
            </form>
		</div>
	</div>

    <div class="parent">
	    <div class="child">
	        <h3 id="faq">What is Pinfall?</h3>
	        </br>
	        <p>Pinfall is a way to keep track of all your bowling statistics. Keep track of every game you bowl, by entering your scores, and Pinfall will automatically calculate your average.</p>
	        </br>

	    </div>

	    <div class="child"> 
	        <h3 id="faq">Why should I use Pinfall?</h3>
	       	</br>
	        <p>Using Pinfall will help you to better understand your bowling game. You'll be able to visualize which areas you excel in and which areas that may need improvement.</p>
	    
	    </div>

	    <div class="child"> 
	        <h3 id="faq">Which stats can Pinfall track?</h3>
	       	</br>
	        <p>Statistics that Pinfall can track for you include:</p>  
	            <ul>
	                <li>Number of games bowled</li>
	                <li>Average</li>
	            </ul> 
	    
	    </div>

	    <div class="child"> 
	        <h3 id="faq">How much does Pinfall cost?</h3>
	       	</br>
	        <p>Pinfall is free and costs you absolutely nothing! We may add pay-only features in the future, but everything that's free today will always be free.</p>
	    
	    </div>
    </div>
</div>
<!-- End page content -->    
