<!-- Start page content -->

<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="/assets/bowling.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <h1 class="fontsatisfy">Pinfall</h1>
              <h1><small>The simple way to track how you bowl.</small></h1>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="/assets/bowling.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="/assets/bowling.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div><!-- /.carousel -->

    <!-- START THE FEATURETTES -->
    <div class="container">
      	<hr class="featurette-divider">

	      <div class="row featurette">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">What is Pinfall? <span class="text-muted">It's the simple way to track how you bowl.</span></h2>
	          <p class="lead">Pinfall is a way to keep track of all your bowling statistics. Keep track of every game you bowl, by entering your scores, and Pinfall will automatically calculate your average.</p>
	        </div>
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	        </div>
	      </div>

	      <hr class="featurette-divider">

	      <div class="row featurette">
	        <div class="col-md-7 col-md-push-5">
	          <h2 class="featurette-heading">Why should you use Pinfall? <span class="text-muted">To improve your game.</span></h2>
	          <p class="lead">Using Pinfall will help you to better understand your bowling game. You'll be able to visualize which areas you excel in and which areas that may need improvement.</p>
	        </div>
	        <div class="col-md-5 col-md-pull-7">
	          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	        </div>
	      </div>

	      <hr class="featurette-divider">

	      <div class="row featurette">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Which stats can Pinfall track? <span class="text-muted">All of them.</span></h2>
	          <p class="lead">Statistics that Pinfall can track for you include:</p>
	          	<ul class="lead">
		        	<li>Number of games bowled</li>
		        	<li>Average</li>
		        </ul>
	        </div>
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	        </div>
	      </div>

      	<hr class="featurette-divider">

      	<div class="row featurette">
	        <div class="col-md-7 col-md-push-5">
	          <h2 class="featurette-heading">How much does Pinfall cost? <span class="text-muted">Absolutely nothing.</span></h2>
	          <p class="lead">Pinfall is free and doesn't cost you a penny. We may add pay-only features in the future, but everything that's free today will always be free.</p>
	        </div>
	        <div class="col-md-5 col-md-pull-7">
	          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	        </div>
	      </div>

	      <hr class="featurette-divider">
	</div>

      <!-- /END THE FEATURETTES -->
<!-- End page content -->    