<!-- Start page content -->

<!-- Carousel
    ================================================== -->
    <div class="jumbotron banner-bg text-center">
		        <h1 class="fontsatisfy">Pinfall</h1>
	        	<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
	        	<p><a class="" href="#">Already have an account? Sign in here.</a></p>
       
    </div>

    <!-- START THE FEATURETTES -->
    <div class="container">
      	<hr class="featurette-divider">

	      <div class="row featurette">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">What is Pinfall? <span class="text-muted">It's the simple way to track how you bowl.</span></h2>
	          <p class="lead">Pinfall is a way to keep track of all your bowling statistics. Keep track of every game you bowl, by entering your scores, and Pinfall will automatically calculate your average.</p>
	        </div>
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	        </div>
	      </div>

	      <hr class="featurette-divider">

	      <div class="row featurette">
	        <div class="col-md-7 col-md-push-5">
	          <h2 class="featurette-heading">Why should you use Pinfall? <span class="text-muted">To improve your game.</span></h2>
	          <p class="lead">Using Pinfall will help you to better understand your bowling game. You'll be able to visualize which areas you excel in and which areas that may need improvement.</p>
	        </div>
	        <div class="col-md-5 col-md-pull-7">
	          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	        </div>
	      </div>

	      <hr class="featurette-divider">

	      <div class="row featurette">
	        <div class="col-md-7">
	          <h2 class="featurette-heading">Which stats can Pinfall track? <span class="text-muted">All of them.</span></h2>
	          <p class="lead">Statistics that Pinfall can track for you include:</p>
	          	<ul class="lead">
		        	<li>Number of games bowled</li>
		        	<li>Average</li>
		        </ul>
	        </div>
	        <div class="col-md-5">
	          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	        </div>
	      </div>

      	<hr class="featurette-divider">

      	<div class="row featurette">
	        <div class="col-md-7 col-md-push-5">
	          <h2 class="featurette-heading">How much does Pinfall cost? <span class="text-muted">Absolutely nothing.</span></h2>
	          <p class="lead">Pinfall is free and doesn't cost you a penny. We may add pay-only features in the future, but everything that's free today will always be free.</p>
	        </div>
	        <div class="col-md-5 col-md-pull-7">
	          <img class="featurette-image img-responsive center-block" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
	        </div>
	      </div>

	      <hr class="featurette-divider">
	</div>

      <!-- /END THE FEATURETTES -->
<!-- End page content -->    