/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
    margin:0px;

}

 body{
    background: #f8f8f8;
    max-width: 100%;
    position: relative;
    overflow-x: hidden;
}

/* Start Header */
.header_wrapper{
    height:75px;
    width: 100%;
    background-color:#333;
    box-shadow:0px -5px 10px #000 inset;
    display: inline-block;

}

.header{
    margin:0 50px 0 50px;
}

.header h1{
    float: left;
    color: #fff;
    font-size: 60px;
    padding: 0px;
    line-height:75px;
}

/* Start Nav Bar */
#nav{
    text-align: right;
    line-height:75px;
}

#nav ul{
    list-style-type:none;
   
}

#nav ul li{
    display:inline-block;
}


#nav ul li a{
    text-decoration:none;
    color:#fff;
    font-size:22px;
    padding: 0px 15px 0px 15px;
    display: block;
}

/* End Nav Bar */

/* Start Footer */
.footer_wrapper{
    background:#333;
    margin-top: 100px;
    height: 150px;
    width: 100%;
    box-shadow:0px 5px 10px #000 inset;
    position: absolute;
}

.footer{
    margin:0 50px 0 50px;
    padding: 10px;
}

.footer h3{
    color: #fff;
    padding: 5px;
    padding-left: 0px;
}

.footer p{
    font-size:12px;
    padding: 5px;
    color: #fff;
}

#legal {
	float: right;
}
/* End Footer */

/* Start Font Styles */
.fontsatisfy{
    font-family:Satisfy,cursive;
}

.fontroboto{
    font-family:Roboto;
}

.fontgafata{
    font-family:Gafata;
}

.fontjosefinsans{
    font-family:Josefin Sans;
}

.fontmontserrat{
    font-family: Montserrat;
}
/* End Font Styles */