// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

/* Start Login Form */
.display form input[type=text], .display form input[type=password] {
    width: 300px;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    border: none;
    color: #000;
    background: #f8f8f8;
    margin:10px;
    outline: none;
}

.display form input[type=text] {
    border-radius: 6px;
    border-top: #0b0b0b solid 1px;
    background: #f8f8f8;
}

.display form input[type=password] {
    border-radius: 6px;
    border-top: #0b0b0b 1px solid;
    border-bottom: #353535 1px solid;
    background: #f8f8f8;
}

.olvido {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
    padding:10px;
    text-align:center;
    margin:0;
}


.olvido a {
    color: #fff;
    text-decoration: none;
}

.olvido a:hover{
	color:#58c0ff;
}
/* End Login Form */


.display {
    background: url(/assets/bowling.jpg);
    background-size:cover;
}
