// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* Start Login Form */
.display form input[type=text], .display form input[type=password] {
    width: 300px;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 40px;
    border: none;
    color: #000;
    background: #f8f8f8;
    margin:10px;
    outline: none;
}

.display form input[type=text] {
    border-radius: 6px;
    border-top: #0b0b0b solid 1px;
    background: #f8f8f8;
}

.display form input[type=password] {
    border-radius: 6px;
    border-top: #0b0b0b 1px solid;
    border-bottom: #353535 1px solid;
    background: #f8f8f8;
}

.signup_button {
    width: 340px;
    margin:10px;
    padding-top: 14px;
    padding-bottom: 14px;
    border-radius: 6px;
    border: none;
    border-top: #4eb2a8 1px solid;
    border-bottom: #161616 1px solid;
    background: #58c0ff;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #FFF;
    text-shadow: 0 -1px #1d7464, 0 1px #7bb8b3;
    font-family: Arial;
}

.olvido {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 15px;
    padding:10px;
    text-align:center;
    margin:0;
}


.olvido a {
    color: #fff;
    text-decoration: none;
}

.olvido a:hover{
	color:#58c0ff;
}
/* End Login Form */

.content_wrapper {
	height:100%;
	margin-bottom:150px;
}

.parent {
	margin:0;
	padding-left:100px;
	padding-right:100px;
	padding-top:50px;
	display:inline-block;
	height:400px;
}

.child {
	width:25%;
	padding-right:50px;
	padding-left:50px;
	float:left;
	text-align:justify;
	box-sizing:border-box;
}

.display {
    background: url(/assets/bowling.jpg);
    background-size:cover;
	display:inline-block;
	width:100%;
	padding-top:100px;
	padding-bottom:100px;
	height:400px;
}

.display_content {
	width:50%;
	padding-left:10px;
	padding-right:10px;
	box-sizing:border-box;
	float:left;
	text-align:center;
}

#logo {
	font-size:200px;
	color: #fff;
}

#tagline {
	color: #fff;
}

#faq {
	font-size:30px;
	text-align:center;
}
