<!DOCTYPE html>
<html>
<head>
  <title>Pinfall Bowling</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Gafata|Roboto|Satisfy|Montserrat' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
        <!-- Start navigation menu -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
		  <div class="container">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed navbar-left" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand fontsatisfy" href="#">Pinfall</a>
		    </div>
		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		        <li><button type="button" class="btn btn-success navbar-btn">Sign in</button></li>
		      </ul>
		    </div><!-- /.navbar-collapse -->
		  </div><!-- /.container-fluid -->
		</nav>
        <!-- End navigation menu -->

<%= yield %>

<!-- Start footer -->
<nav class="navbar navbar-inverse">
	<div class="container">
	    <!-- Start Social -->
	    <div class="navbar-header">
	    	<p>Follow Pinfall</p>
			<div class="fb-like" data-href="https://www.facebook.com/pinfallbowling" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>           
	        <div style="padding-top: 5px">
	        	<a href="https://twitter.com/DrewHust" class="twitter-follow-button" data-show-count="false">Follow @DrewHust</a>
	    	</div>
	    </div>
	        
	    <!-- End Social -->
	    <!-- Start Copyright/Navigation -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		    <ul class="nav navbar-nav navbar-right">
		    	<li>&copy Andrew Hust, 2015.</li>
		    </ul>
		</div>
	    <!-- End Copyright/Navigation -->
    </div>
</nav>
<!-- End footer -->

    <script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '1433728790269829',
	      xfbml      : true,
	      version    : 'v2.3'
	    });
	  };

	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>

	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

</body>
</html>
